.full {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color
      center / cover;
  }

  body{
    
    margin: auto;
    text-align: center;
 }


 
    div{  margin-top: 60px;
        text-align: center;
    }

    foot {
        position:fixed;
        right:20px;
        bottom:20px;
    }



    